:root {
  --backgroundColor1: white;
  --backgroundColor2: #eeeeee;
  --textColor: black;
  --borderColor: black;
  --backgroundColor1-hover: black;
  --textColor-hover: white;
  --borderColor-hover: white;
}

[data-subject="dark"] {
  --backgroundColor1: #222;
  --backgroundColor2: black;
  --textColor: white;
  --borderColor: white;
  --backgroundColor1-hover: white;
  --textColor-hover: black;
  --borderColor-hover: black;
}

body {
  font-size: 2rem;
  font-family: KaiTi, STKaiti, FangSong, STFangSong;
  background-color: var(--backgroundColor1);
  color: var(--textColor);
}

.footer {
  color: grey;
  background-color: var(--backgroundColor2);
  padding-top: 4rem;
  padding-left: 1rem;
  height: 3rem;
}

.h {
  text-align: center;
}

a {
  color: blue;
}

table.colorTable th {
  background-color: #ecf0f1;
  border: 1px solid #2c3e50;
  color: #2c3e50;
}

table.colorTable td {
  border: 1px solid #555;
  background-color: white;
  color: #555;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

@media (max-width: 980px) {
  body {
    font-size: 1.2rem;
  }

  h1.h {
    font-size: 2.4rem;
  }

  h3.h {
    font-size: 1.6rem;
  }

  .footer {
    height: 2.5rem;
  }
}

@media (max-width: 798px) {
  body {
    font-size: 1rem;
  }

  h1.h {
    font-size: 2rem;
  }

  h3.h {
    font-size: 1.2rem;
  }

  .footer {
    height: 2rem;
  }
}